body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-title-color);
  background-color: var(--main-text-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
