.container {
  width: 100%;
  padding-right: 31px;
  padding-left: 31px;
  margin-right: auto;
  margin-left: auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1600px;
  }
}
