.contact-us .container {
  padding: 0;
}

.contact-us .contact-us__booking {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #191c26;
}

.contact-us__booking-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  @media screen and (min-width: 345px) {
    font-size: 42px;
  }
}

.contact-us__button {
  display: block;
  width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #ff6c00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// ----------------------------------------------------------------------------------------------------------------

.contact-us__contacts {
  background-color: #191c26;
  max-width: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 84px 31px;
  flex-grow: 1;
  background-image: url(..//../images/contact-us/contact-us-mob-1x.png);
  @include retina {
    background-image: url(..//../images/contact-us/contact-us-mob-2x.png);
  }
}

.contact-us__contacts-title {
  // width: 418px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 40px;
}

.contact-us__contacts-address {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
  @media screen and (min-width: 345px) {
    font-size: 18px;
  }
}

.contact-us__contacts-tel {
  display: block;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
}

.contact-us__contacts-mail {
  display: block;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;
  margin-bottom: 44px;
}

.contact-us__contacts-address,
.contact-us__contacts-tel,
.contact-us__contacts-mail {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: white;
  }
}

.contact-us__timetable {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-us__timetable::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
}

.contact-us__working-hours {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
