.gallery {
  padding-top: 84px;
  padding-bottom: 84px;
}

.gallery__title {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 71px;
  &::before {
    @media screen and (max-width: 330px) {
      width: 50px;
    }
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
